{% extends 'base.html' %}

{% block navigation %}
  <ul>
    <li>
      <a href="/{{ parent or ''}}">Up to {{ parent or 'root' }}</a>
    </li>
  </ul>
{% endblock %}

{% block header %}
<h1>{% block title %}Folder: {{ path }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<ul>
  {% for video in videos %}
  <li class="file-info">
    <a href="{{ video['filename'] }}">{{ video['filename'] }}</a>
    <span>{{ video['stat'].st_size|filesizeformat }}</span>      
    <span>{{ video['stat'].st_ctime|ctime }}</span>      
  </li>
  {% endfor %}
</ul>
{% endblock %}
